.Header {
  padding: 5px 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #2CBFD3;
  color: white;
  justify-content: space-around;

  .Header-icon {
    height: 100%;
    width: 90px;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  .Header-iconImg {
    max-height: 100%;
    max-width: 100%;
  }

  .Header-logo {
    max-height: 100%;
  }
}
