.HeaderLayout {
  position: relative;
  height: 100%;

  .HeaderLayout-header {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .HeaderLayout-content {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    height: calc(100% - 50px);
    padding: 0 20px;
  }
}
